.designTabs {
    display: flex !important;
    flex-wrap: nowrap !important;
    align-items: end;
    justify-content: center;
}
.designTabsWrap{
    z-index: 2;
    position: relative;
}
.designTabsWrap *{
    z-index: 2;
}
button.btn_design {
    font-size: 16px !important;
    line-height: normal;
    text-align: center;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    padding: 15px 30px;
}
button.btn_design span {
    width: 110px;
    height: 110px;
    border: 15px solid #111616;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: #1F222F;
    margin: 10px auto;

}
button.btn_design.active span,
button.btn_design:hover span {
    background-color: #C896FF;
}
button.btn_design span img{
    height: 44px;
    width: auto;
}
.designTabsWrap:before {
    content: '';
    width: 100%;
    height: 49%;
    background-color: #111616 !important;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
ul.arrowListing{
    padding: 0;
}
.arrowListing li {
    padding-left: 24px;
    position: relative;
    margin-bottom: 12px;
}
ul.arrowListing li:before {
    content: '';
    background-image: url(../../../public/web-app/right_arrow.svg);
    width: 12px;
    height: 12px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 5px;
}
.interfaceWrap h3 {
    display: block;
    width: 100%;
    margin-top: 15px;
}
.deliverable-step {
    display: flex;
    align-items: center;
    height: 100%;
    width: 80%;
    padding-left: 65px;
    margin-left: 36px;
    background-color: #1F222F;
    border-radius: 14px;
    position: relative;
    box-shadow: 0px 0px 7.8px 0px #396BDB;
}
.deliverable-icon {
    width: 100px;
    height: 100px;
    position: absolute;
    left: -33px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #396BDB;
    border-radius: 50%;
}
.deliverable-icon-bg {
    width: 100%;
    height: 100%;
    background-color: #1F222F;
    border-radius: 50%;
    padding: 15px;
    display: grid;
    place-items: center;
    margin-left: -5px;
}
.deliverable-content {
    padding: 20px 55px;
}
.deliverable-content p{
    margin-bottom: 0;
}
.whyChooseWrap .cell-wrap {
    flex-wrap: nowrap;
    align-items: flex-start;
}
.whyChooseWrap .cell-wrap h3 {
    font-size: 20px;
    margin-bottom: 12px;
}
.whyChooseWrap .cell-wrap .imgIcon {
    width: 35px;
    height: auto;
}
.b2b-text-lg{
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    color:#ffffff;
}
.b2b-text-sm{
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    color:#ffffff;
}
.about-accordion .accordion-button::after {
    background-image: none;
    transform: unset;
    content: '+';
    color: #fff;
    filter: unset;
    font-size: 18px;
    font-weight: 200;
}
.about-accordion .accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: unset;
    content: '-';
}
.about-accordion .accordion-body p{
    font-size: 14px;
    line-height: normal;
}
  @media screen and (max-width: 1440px){
    .b2b-text-lg{
        font-size: 20px;
        line-height: 30px;
      }
      .b2b-text-sm{
        font-size: 16px;
        line-height: 28px;
      }
  }
  @media screen and (max-width: 1366px){
    .b2b-text-lg{
        font-size: 18px;
        line-height: 30px;
      }
      .b2b-text-sm {
        font-size: 14px;
        line-height: 25px;
    }
  }