.team-details h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.team-details p {
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0;
}
.higher-officials h3 {
    font-size: 20px;
    line-height: 28px;
}
.higher-officials p {
    font-size: 14px;
    line-height: 24px;
}
.team-details {
    margin-top: 22px;
}
.crew-wrap{
    max-width: 900px;
    margin: 0 auto;
}
.crew-wrap .row{
    column-gap: 50px;
}
.crew-wrap.work-with-us .row{
    column-gap: unset;
}